body{
    background-color: #dcdcdc;
    color: black;
}
body, div{
    margin: 0;
    padding: 0;
}
#containter{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#canvas{

}
#message{
    height: 2en;
}
